.andyp-oauth__button-youtube.enabled {
    background: #38EF7D;
    color: #fff;
    opacity: 0.5;
}
.andyp-oauth__button-youtube--trash {
    line-height: 14px !important;
    opacity: 0;
}
.andyp-oauth__button-youtube--trash.enabled {
    opacity: 1;
}